@media (min-width: 768px)
  .navbar-fixed-bottom,.navbar-fixed-top
    border-radius 0
  .navbar
    border-radius 4px
@media only screen and (max-width: 768px)
  .swiper-container
    display none
@media (max-width: 1080px)
  .container
    width 750px
  .recommend-banner,.tag-banner
    min-height 78px
    border-radius 4px
@media (min-width: 992px)
  .container
    width: 960px
@media (max-width: 1080px)
  .person .main .user-list .info
    max-width 315px
@media (max-width: 1080px)
  .setting aside
    width 218.75px!important
@media (max-width: 1080px)
  .note-list li.have-img
    min-height 112px
  .note-list .have-img>div
    padding-right: 135px
@media (max-width: 1080px)
  .search .aside
    width 218.75px



